html,
body {
    overflow-x: hidden;
}
.nav li a.active {
  color: #5D5FEF !important;
}

.main_menu li a.active {
  border-bottom: 3px solid #5D5FEF;
}

@media (max-width:768px) {
  #navbar{
    float: none !important;
  }
}